<!--<div *ngFor = 'let user  of users'>-->
  <!--<h6>{{user.id}}</h6>-->
  <!--<h6>{{user.title}}</h6>-->
  <!--<h6>{{user.body}}</h6>-->
<!--</div>-->
<hr>

<div class = "row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="col-sm-4">
          <label for="sort-field">Sort By</label>
          <select
            class="form-control"
            name="sort-field"
            id="sort-field"
            [(ngModel)]="sortField">
            <option
              *ngFor="let field of sortFields"
              [value]="field">
               {{ utilService.capitalize(field) }}
            </option>
          </select>
        </div>
      </div>
    </div>
  </div>




  <div *ngFor="let crib of cribs  " >
    <!-- <div class="thumbnail">
        <img src="assets/images/{{crib.image}}.jpg" alt="">
        <h3>{{crib.address}}</h3>
        <h3>{{crib.price}}</h3>
        <h3>{{crib.type}}</h3>
        <h3>{{crib.image}}</h3>
    </div> -->
    <app-crib-cards [crib]= "crib" class="col-sm-4"></app-crib-cards>

  </div>


</div>

